spring.datasource.url=jdbc:postgresql://localhost:5432/c29_gympj
spring.datasource.username=postgres
spring.datasource.password=postgres

spring.jpa.hibernate.ddl-auto=none
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

spring.flyway.baselineOnMigrate=true
spring.flyway.cleanDisabled=true

spring.session.store-type=jdbc
spring.session.jdbc.initialize-schema=always

jwt.secret=XDTRFGYI&*YUTC^&*G*y98y7t6r5$^&T*Y(UYGVYIHUOBY&GVJYTUIUYUTUIYTR^&*^%$^&*(