@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: math-auto;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {

}

html::-webkit-scrollbar-thumb {
    background: #9CD02F;
}

body {

}


.heading {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
}

.heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: .1rem;
    width: 100%;
    background: #aaa;
    z-index: -1;
}

.heading span {
    font-size: 3rem;
    color: #9CD02F;
    background: #000;
    padding: .5rem 1.5rem;
    border: 0.1rem solid #aaa;
    border-radius: .5rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background: linear-gradient(130deg, #9CD02F 93%, transparent 90%);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 9%;
    z-index: 10000;
    background: #000;
}

.header .logo {
    font-weight: bolder;
    color: #fff;
    font-size: 3rem;
}

.header .logo span {
    color: #9CD02F;
}

.header a {
    display: inline-block;
    padding: 1.5rem 45rem;
    font-size: 1.7rem;
    color: #fff;
}

.footer {
    margin-top: 10rem;
    padding: 5rem;
}

.footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #fff;
    padding: 1rem 0;
}

.footer .box-container .box .links {
    font-size: 1.5rem;
    display: block;
    color: #aaa;
    padding: 1rem 0;
}

.footer .box-container .box .links:hover {
    color: #9CD02F;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    color: #aaa;
    padding: 1rem 0;
}

.footer .box-container .box p i {
    padding-right: .5rem;
    color: #9CD02F;
}

.footer .box-container .box .share {
    padding: 1rem 0;
}

.footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color: #fff;
    background: #111;
    border-radius: 50%;
    margin-right: .5rem;
    text-align: center;
}

.footer .box-container .box .share a:hover {
    background: #9CD02F;
}

.footer .box-container .box form .email {
    margin-bottom: 1rem;
    width: 100%;
    background: #111;
    padding: 1.2rem;
    font-size: 1.5rem;
    color: #fff;
    text-transform: none;
}

.credit {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    color: #fff;
    background: #111;
    line-height: 1.5;
}

.credit span {
    color: #9CD02F;
}

.time-col, .friend-col {
  z-index: 100 !important;
}
/* Input part css start */
.input-part{
    color: #fff;
    margin-top: 10%;
}
#main_body{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(1,1fr);
    gap:20px;
    text-align: center;

}
#inputDate{

    padding: 10px 30px;
    font-size: 20px;
    background-color: rgb(237,225,209);
    border-color: rgb(210,180,140);
    border-radius: 10px;
}
#slot-select{
    padding: 10px 0px;
    font-size: 15px;
    border-radius: 10px;
}


#book_appointment{
  width: 100%;
  height: 100%;
    padding: 10px 50px;
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(216,189,154);
    color: #fff;

}
#book_appointment:hover{
    background-color: rgb(195,155,102);
    color: rgb(239,229,215);
    border: 1px solid #fff;
    cursor: pointer;
}


/* pop up booking success */



.confirmPopUp{
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 9999999;
  background: rgba(0,0,0, 0.75);
  width: 100vw;
  height: 100vh;
  opacity: 0;

    -webkit-transition: opacity  0.35s ease;
    -moz-transition: opacity 0.35s ease;
    -o-transition: opacity 0.35s ease;
    transition: opacity 0.35s ease;
}
.confirmPopUp .confirmPopUpContainer{
  width: 100%;
  max-width: 500px;
  position: fixed; /* To avoid scroll to target */
  left: 50%;
  top: -100vh;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;

  /* Trick to properly center the element by using negative
  1/2 length of element as margin left and top */
  margin-left: -250px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border-radius: 2px;
  z-index: 9999999;
}
.confirmPopUpContent{
  padding:0 0 0px 44px;
  font-size:30px;
  text-align: center;
  color: #444444;
  margin: 0;
}
.confirmPopUp img{
  width: 100%;
  display: block;
}
.confirmPopUp article{
    padding: 0 0 0px 25px;
    font-size: 30px;
	height: 300px;
  background-color: #ac8b71;
}

/* The cancel button on popup dialog */
.confirmPopUp a.closePopUp{
  font-family: verdana;
  color: #e74c3c;
  position: absolute;
  top: 0.2em;
  right: 0.375em;
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}
/* The cancel button on popup dialog */
.confirmPopUp a:hover{
  color: #c0392b;
}
/* When popup is targeted, by clicking on link with #popup in HTML */
.confirmPopUp:target{
  opacity: 1;
  top: 0;
}
.confirmPopUp .closeConfirmPopUpOutSide{
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 9999991;
}
.confirmPopUp:target .confirmPopUpContainer{
  top: 50px;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;
}

@media  (max-width: 796px) {
  .confirmPopUp .confirmPopUpContainer{
    width: 90%;
    max-width: none;
    left: 5%;
    margin-left: 0;
  }
  .confirmPopUp ul{
    padding: 0 1em 0 1em;
  }
  .confirmPopUp:target .confirmPopUpContainer{
    top: 25px;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;
  }
}




/* pop up booking success end */





#navbar{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

#all_appointment{
    font-size: 15px;
    color: #aaa;

}
#all_appointment:hover{
    color: #9CD02F;
    cursor: pointer;
}
/* Input part css end */







/* New list part css */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
  }
  * {
    margin: 0;
    padding: 0;
  }
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  .selected-listItem {
    margin: 20px 0;
    text-align: center;
  }
  .selected-listItem p {
    font-size: 18px;
  }
  .selected-listItem p span {
    font-weight: bold;
  }

  .bookdropdown {
    margin: 20px auto;
    width: 300px;
    position: relative;
    perspective: 800px;
  }

 

  .dropdown.active .selLabel:after {
    content: '\25B2';
  }
  .dropdown.active .dropdown-list li:nth-child(1) {
    transform: translateY(100%);
  }
  .dropdown.active .dropdown-list li:nth-child(2) {
    transform: translateY(200%);
  }
  .dropdown.active .dropdown-list li:nth-child(3) {
    transform: translateY(300%);
  }
  .dropdown.active .dropdown-list li:nth-child(4) {
    transform: translateY(400%);
  }
  .dropdown.active .dropdown-list li:nth-child(5) {
    transform: translateY(500%);
  }

  .wording{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    background: rgb(217,193,160);
    display: block;
    padding: 0 50px 0 30px;
    position: relative;
    z-index: 9999;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: 50% 0%;
    transition: transform 300ms;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .dropdown > span {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    background: rgb(217,193,160);
    display: block;
    padding: 0 50px 0 30px;
    position: relative;
    z-index: 9999;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: 50% 0%;
    transition: transform 300ms;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .dropdown > span:after {
    content: '\25BC';
    position: absolute;
    right: 0px;
    top: 15%;
    width: 50px;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    height: 70%;
    line-height: 24px;
    border-left: 1px solid #ddd;
  }
  .dropdown > span:active {
    transform: rotateX(45deg);
  }
  .dropdown > span:active:after {
    content: '\25B2';
  }
  .dropdown-list {
    position: absolute;
    top: 0px;
    width: 100%;
  }
  .dropdown-list li {
    display: block;
    list-style: none;
    left: 0;
    opacity: 1;
    transition: transform 300ms ease;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .dropdown-list li:nth-child(1) {
    background-color: rgb(239,215,225);
    z-index: 5;
    transform: translateY(0);
  }
  .dropdown-list li:nth-child(2) {
    background-color: rgb(239,229,215);
    z-index: 4;
    transform: translateY(3%);
  }
  .dropdown-list li:nth-child(3) {
    background-color: rgb(215,239,229);
    z-index: 3;
    transform: translateY(6%);
  }
  .dropdown-list li:nth-child(4) {
    background-color: rgb(215,225,239);
    z-index: 2;
    transform: translateY(9%);
  }

  .dropdown-list li:nth-child(5) {
    background-color: rgb(239,217,215);
    z-index: 1;
    transform: translateY(12%);
  }


  .dropdown-list li span {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 100%;
    font-size: 18px;
    line-height: 60px;
    padding: 0 30px;
    display: block;
    color: #000;
    cursor: pointer;
    letter-spacing: 2px;
  }




  /* dropdown list */
  .dropdown2 {
    margin: 20px auto;
    width: 300px;
    position: relative;
    perspective: 800px;
  }
  .dropdown2.active .selLabel2:after {
    content: '\25B2';
  }
  .dropdown2.active .dropdown2-list li:nth-child(1) {
    transform: translateY(100%);
  }
  .dropdown2.active .dropdown2-list li:nth-child(2) {
    transform: translateY(200%);
  }
  .dropdown2.active .dropdown2-list li:nth-child(3) {
    transform: translateY(300%);
  }
  .dropdown2.active .dropdown2-list li:nth-child(4) {
    transform: translateY(400%);
  }
  .dropdown2.active .dropdown2-list li:nth-child(5) {
    transform: translateY(500%);
  }
  .dropdown2.active .dropdown2-list li:nth-child(6) {
    transform: translateY(600%);
  }

  .dropdown2 > span {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    background: rgb(217,193,160);
    display: block;
    padding: 0 50px 0 30px;
    position: relative;
    z-index: 9999;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: 50% 0%;
    transition: transform 300ms;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .dropdown2 > span:after {
    content: '\25BC';
    position: absolute;
    right: 0px;
    top: 15%;
    width: 50px;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    height: 70%;
    line-height: 24px;
    border-left: 1px solid #ddd;
  }
  .dropdown2 > span:active {
    transform: rotateX(45deg);
  }
  .dropdown2 > span:active:after {
    content: '\25B2';
  }
  .dropdown2-list {
    position: absolute;
    top: 0px;
    width: 100%;
  }
  .dropdown2-list li {
    display: block;
    list-style: none;
    left: 0;
    opacity: 1;
    transition: transform 300ms ease;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .dropdown2-list li:nth-child(1) {
    background-color: rgb(239,215,225);
    z-index: 6;
    transform: translateY(0);
  }
  .dropdown2-list li:nth-child(2) {
    background-color: rgb(239,229,215);
    z-index: 5;
    transform: translateY(3%);
  }
  .dropdown2-list li:nth-child(3) {
    background-color: rgb(215,239,229);
    z-index: 4;
    transform: translateY(6%);
  }
  .dropdown2-list li:nth-child(4) {
    background-color: rgb(215,225,239);
    z-index: 3;
    transform: translateY(9%);
  }

  .dropdown2-list li:nth-child(5) {
    background-color: rgb(239,217,215);
    z-index: 2;
    transform: translateY(12%);
  }

  .dropdown2-list li:nth-child(6) {
    background-color: rgb(237,239,215);
    z-index: 1;
    transform: translateY(15%);
  }

  .dropdown2-list li span {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 100%;
    font-size: 18px;
    line-height: 60px;
    padding: 0 30px;
    display: block;
    color: #000;
    cursor: pointer;
    letter-spacing: 2px;
  }





  .dropdown3 {
    margin: 20px auto;
    width: 300px;
    position: relative;
    perspective: 800px;
  }
  .dropdown3.active .selLabel3:after {
    content: '\25B2';
  }
  .dropdown3.active .dropdown3-list li:nth-child(1) {
    transform: translateY(100%);
  }
  .dropdown3.active .dropdown3-list li:nth-child(2) {
    transform: translateY(200%);
  }


  .dropdown3 > span {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    background: rgb(217,193,160);
    display: block;
    padding: 0 50px 0 30px;
    position: relative;
    z-index: 9999;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: 50% 0%;
    transition: transform 300ms;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .dropdown3 > span:after {
    content: '\25BC';
    position: absolute;
    right: 0px;
    top: 15%;
    width: 50px;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    height: 70%;
    line-height: 24px;
    border-left: 1px solid #ddd;
  }
  .dropdown3 > span:active {
    transform: rotateX(45deg);
  }
  .dropdown3 > span:active:after {
    content: '\25B2';
  }
  .dropdown3-list {
    position: absolute;
    top: 0px;
    width: 100%;
  }
  .dropdown3-list li {
    display: block;
    list-style: none;
    left: 0;
    opacity: 1;
    transition: transform 300ms ease;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .dropdown3-list li:nth-child(1) {
    background-color: rgb(239,215,225);
    z-index: 4;
    transform: translateY(0);
  }
  .dropdown3-list li:nth-child(2) {
    background-color: rgb(239,229,215);
    z-index: 3;
    transform: translateY(3%);
  }

.dropdown3-list li span {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 100%;
    font-size: 14px;
    line-height: 60px;
    padding: 0 30px;
    display: block;
    color: #000;
    cursor: pointer;
    letter-spacing: 2px;
}


  .dropdown3 {
    margin: 20px auto;
    width: 300px;
    position: relative;
    perspective: 800px;
  }
  .dropdown3.active .selLabel3:after {
    content: '\25B2';
  }
  .dropdown3.active .dropdown3-list li:nth-child(1) {
    transform: translateY(100%);
  }
  .dropdown3.active .dropdown3-list li:nth-child(2) {
    transform: translateY(200%);
  }


  .dropdown3 > span {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    background: rgb(217,193,160);
    display: block;
    padding: 0 50px 0 30px;
    position: relative;
    z-index: 9999;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: 50% 0%;
    transition: transform 300ms;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .dropdown3 > span:after {
    content: '\25BC';
    position: absolute;
    right: 0px;
    top: 15%;
    width: 50px;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    height: 70%;
    line-height: 24px;
    border-left: 1px solid #ddd;
  }
  .dropdown3 > span:active {
    transform: rotateX(45deg);
  }
  .dropdown3 > span:active:after {
    content: '\25B2';
  }
  .dropdown3-list {
    position: absolute;
    top: 0px;
    width: 100%;
  }
  .dropdown3-list li {
    display: block;
    list-style: none;
    left: 0;
    opacity: 1;
    transition: transform 300ms ease;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .dropdown3-list li:nth-child(1) {
    background-color: rgb(239,215,225);
    z-index: 4;
    transform: translateY(0);
  }
  .dropdown3-list li:nth-child(2) {
    background-color: rgb(239,229,215);
    z-index: 3;
    transform: translateY(3%);
  }

.dropdown3-list li span {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 100%;
    font-size: 12px;
    line-height: 60px;
    padding: 0 30px;
    display: block;
    color: #000;
    cursor: pointer;
    letter-spacing: 2px;
}













/*  */

.dropdown4 {
  margin: 20px auto;
  width: 300px;
  position: relative;
  perspective: 800px;
}
.dropdown4.active .selLabel3:after {
  content: '\25B2';
}
.dropdown4.active .dropdown4-list li:nth-child(1) {
  transform: translateY(100%);
}
.dropdown4.active .dropdown4-list li:nth-child(2) {
  transform: translateY(200%);
}
.dropdown4.active .dropdown4-list li:nth-child(3) {
    transform: translateY(300%);
  }
.dropdown4.active .dropdown4-list li:nth-child(4) {
    transform: translateY(400%);
  }
.dropdown4.active .dropdown4-list li:nth-child(5) {
    transform: translateY(500%);
  }
.dropdown4.active .dropdown4-list li:nth-child(6) {
    transform: translateY(600%);
  }
.dropdown4.active .dropdown4-list li:nth-child(7) {
    transform: translateY(700%);
  }
.dropdown4.active .dropdown4-list li:nth-child(8) {
    transform: translateY(800%);
  }
.dropdown4.active .dropdown4-list li:nth-child(9) {
      transform: translateY(900%);
    }


.dropdown4 > span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  background: rgb(217,193,160);
  display: block;
  padding: 0 50px 0 30px;
  position: relative;
  z-index: 9999;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: 50% 0%;
  transition: transform 300ms;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.dropdown4 > span:after {
  content: '\25BC';
  position: absolute;
  right: 0px;
  top: 15%;
  width: 50px;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  height: 70%;
  line-height: 24px;
  border-left: 1px solid #ddd;
}
.dropdown4 > span:active {
  transform: rotateX(45deg);
}
.dropdown4 > span:active:after {
  content: '\25B2';
}
.dropdown4-list {
  position: absolute;
  top: 0px;
  width: 100%;
}
.dropdown4-list li {
  display: block;
  list-style: none;
  left: 0;
  opacity: 1;
  transition: transform 300ms ease;
  position: absolute;
  top: 0;
  width: 100%;
}
.dropdown4-list li:nth-child(1) {
  background-color: rgb(239,215,225);
  z-index: 4;
  transform: translateY(0);
}
.dropdown4-list li:nth-child(2) {
  background-color: rgb(239,229,215);
  z-index: 3;
  transform: translateY(3%);
}

.dropdown4-list li:nth-child(3) {
    background-color: rgb(215,239,229);
    z-index: 4;
    transform: translateY(6%);
  }

.dropdown4-list li:nth-child(4) {
    background-color: rgb(215,225,239);
    z-index: 3;
    transform: translateY(9%);
  }

.dropdown4-list li:nth-child(5) {
    background-color: rgb(239,217,215);
    z-index: 2;
    transform: translateY(12%);
  }

.dropdown4-list li:nth-child(6) {
    background-color: rgb(237,239,215);
    z-index: 1;
    transform: translateY(15%);
  }

.dropdown4-list li:nth-child(7) {
      background-color: rgb(197,190,182);
      z-index: 1;
      transform: translateY(18%);
    }

.dropdown4-list li:nth-child(8) {
      background-color: rgb(203,190,204);
      z-index: 1;
      transform: translateY(21%);
    }

.dropdown4-list li:nth-child(9) {
      background-color: rgb(233,224,223);
      z-index: 1;
      transform: translateY(24%);
    }

.dropdown4-list li span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  font-size: 14px;
  line-height: 60px;
  padding: 0 30px;
  display: block;
  color: #000;
  cursor: pointer;
  letter-spacing: 2px;
}


.dropdown4 {
  margin: 20px auto;
  width: 300px;
  position: relative;
  perspective: 800px;
}
.dropdown4.active .selLabel3:after {
  content: '\25B2';
}
.dropdown4.active .dropdown4-list li:nth-child(1) {
  transform: translateY(100%);
}
.dropdown4.active .dropdown4-list li:nth-child(2) {
  transform: translateY(200%);
}


.dropdown4 > span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  background: rgb(217,193,160);
  display: block;
  padding: 0 50px 0 30px;
  position: relative;
  z-index: 9999;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: 50% 0%;
  transition: transform 300ms;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.dropdown4 > span:after {
  content: '\25BC';
  position: absolute;
  right: 0px;
  top: 15%;
  width: 50px;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  height: 70%;
  line-height: 24px;
  border-left: 1px solid #ddd;
}
.dropdown4 > span:active {
  transform: rotateX(45deg);
}
.dropdown4 > span:active:after {
  content: '\25B2';
}
.dropdown4-list {
  position: absolute;
  top: 0px;
  width: 100%;
}
.dropdown4-list li {
  display: block;
  list-style: none;
  left: 0;
  opacity: 1;
  transition: transform 300ms ease;
  position: absolute;
  top: 0;
  width: 100%;
}
.dropdown4-list li:nth-child(1) {
  background-color: rgb(239,215,225);
  z-index: 4;
  transform: translateY(0);
}
.dropdown4-list li:nth-child(2) {
  background-color: rgb(239,229,215);
  z-index: 3;
  transform: translateY(3%);
}

.dropdown4-list li span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  font-size: 14px;
  line-height: 60px;
  padding: 0 30px;
  display: block;
  color: #000;
  cursor: pointer;
  letter-spacing: 2px;
}






