<!DOCTYPE html>
<html lang="en">

<head>
  <title>GYM - GYM Studio</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="/fonts/icomoon.css">

  <link href="https://cdn.staticfile.org/twitter-bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.staticfile.org/Swiper/11.0.5/swiper-bundle.min.css">

</head>

<body>

<div class="preloader-wrapper">
  <div class="preloader">
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-4">
  <div class="container-fluid">
    <div class="main-logo">
      <a href="/index">
        <img src="/images/main-logo.png" alt="logo">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end align-items-center flex-grow-1 pe-3 gap-4">
          <li class="nav-item text-uppercase">
            <a href="/index" class="nav-link active">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownPages" data-bs-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Pages</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownPages">
              <li>
                <a href="/about" class="dropdown-item text-uppercase">About Us </a>
              </li>
              <li>
                <a href="/classes" class="dropdown-item text-uppercase">Class Schedule </a>
              </li>
              <li>
                <a href="/contact" class="dropdown-item text-uppercase">Contact </a>
              </li>
            </ul>
          </li>
          <li class="nav-item text-uppercase">
            <a href="/gym" class="nav-link">Gym</a>
          </li>
          <li class="nav-item text-uppercase">
            <a href="/contact" class="nav-link">Contact</a>
          </li>
          <li class="nav-item text-uppercase">
            <a href="/login" class="item-anchor btn btn-outline-primary rounded-pill">Login</a>
          </li>
          <li class="user-items">
            <div class="search-bar">
              <a href="#" class="search-button search-toggle" data-selector=".primary-nav">
                <i class="icon icon-search"></i>
              </a>
              <form role="search" method="get" class="search-box" action="index.html">
                <input class="search-field search-input" placeholder="Search" type="search">
              </form>
            </div>
            <a href="#" class="shopping-cart">
              <i class="icon icon-shopping-cart"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

  <section id="hero-section" class="text-center jarallax mt-5 py-5">
    <img src="images/dance-banner7.jpg" alt="dancer" class="jarallax-img">
    <div class="banner-content py-5 my-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <nav class="breadcrumb justify-content-center text-white mt-5">
              <a class="breadcrumb-item text-white" href="#">Home</a>
              <a class="breadcrumb-item text-white" href="#">Pages</a>
              <span class="breadcrumb-item active" aria-current="page">About Us</span>
            </nav>
            <h1 class="text-white display-1">About Us</h1>
            <span class="text-white">作為多元化健身室，
              包含健身及瑜伽元素<br>
              致力推廣「身，心，靈」全方位健康
              透過我們為會員訂製的課程，提升身體及心理質素，
              以應付日常工作的各種挑戰和煩惱。</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="company-detail padding-medium">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <blockquote>我們提供一系列針對不同需要的運動課程，以下資料供您參考<br>
            讓客戶經理安排諮詢環節，了解您身體的需要

          </blockquote>
          <p><strong>多元化健身室</strong><br>

            包含健身及瑜伽元素，透過訂製的課程，提升身體及心理質素
            <br>
            <br>
            <strong>專業課程顧問</strong><br>

            與我們的課程顧問聯絡，了解自己適合哪種課程<br>
            <br>

            <strong>位置優越</strong><br>

            將軍澳旗艦店和長沙灣分店現已提供服務</p>
        </div>
      </div>
    </div>
  </section>
  <section class="our-team">
    <div class="container">
      <div class="row">
        <div class="section-header">
          <h2 class="section-title text-center">Our <span class="text-primary">Team</span></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="team-member text-center">
            <figure class="image-transition">
              <img src="images/team-member1.jpg" alt="post" class="member-image">
            </figure>
            <div class="member-details text-center">
              <h4 class="member-title">Micheal Yip</h4>
              <div class="designation">CEO-Founder</div>
              <div class="social-links color-primary ">
                <a href="#" class="icon icon-facebook"></a>
                <a href="#" class="icon icon-twitter"></a>
                <a href="#" class="icon icon-pinterest-p"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <div class="team-member text-center">
            <figure>
              <img src="images/team-member2.jpg" alt="post" class="member-image">
            </figure>
            <div class="member-details text-center">
              <h4 class="member-title">John Chan</h4>
              <div class="designation">General Manager</div>
              <div class="social-links color-primary">
                <a href="#" class="icon icon-facebook"></a>
                <a href="#" class="icon icon-twitter"></a>
                <a href="#" class="icon icon-pinterest-p"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <div class="team-member text-center">
            <figure>
              <img src="images/team-member3.jpg" alt="post" class="member-image">
            </figure>
            <div class="member-details text-center">
              <h4 class="member-title">Mandy Wong</h4>
              <div class="designation">Assistant Manager</div>
              <div class="social-links color-primary">
                <a href="#" class="icon icon-facebook"></a>
                <a href="#" class="icon icon-twitter"></a>
                <a href="#" class="icon icon-pinterest-p"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <div class="team-member text-center">
            <figure>
              <img src="images/team-member4.jpg" alt="post" class="member-image">
            </figure>
            <div class="member-details text-center">
              <h4 class="member-title">Lok Cheng</h4>
              <div class="designation">Staff</div>
              <div class="social-links color-primary">
                <a href="#" class="icon icon-facebook"></a>
                <a href="#" class="icon icon-twitter"></a>
                <a href="#" class="icon icon-pinterest-p"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="our-mission padding-large">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title text-center">Our <span class="text-primary">Mission</span></h2>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="image-holder">
            <img src="images/single-image.jpg" alt="book-authors" class="align-right single-image">
          </div>
          <div class="description">
            <p><strong>我們抗拒硬性銷售</strong></p>
            <p>
              當設備完善，教學質素有保證的時候，我們不認為有硬性銷售的需要
              如果您在Power Fitness遇到硬性銷售的情況，請務必跟我們客戶經理反映。</p><br>

          </div>
        </div>
        <div class="col-md-4">
          <ol>
            <p>同為熱愛運動的⼈，我們明⽩⼀個⼈運動有時會令⼈感到乏味，枯燥的感覺更易令⼈放棄。
              因此，我們致⼒成為⼤家的運動夥伴，⼀起尋找運動的樂趣。</p>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <footer id="footer" class="padding-large">
    <div class="container">
      <div class="footer-content row">
        <div class="col-md-4">
          <div class="footer-menu">
            <ul class="d-flex list-unstyled justify-content-md-start justify-content-center">
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">Privacy Policy</a>
              </li>
              <li>
                <a href="#">Terms</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-logo align-center">
            <img src="images/main-logo.png" alt="logo">
          </div>
        </div>
        <div class="col-md-4">
          <div class="social-links">
            <ul class="d-flex list-unstyled justify-content-md-end justify-content-center">
              <li>
                <a href="#">
                  <i class="icon icon-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div id="footer-bottom">
    <div class="container">

    </div>
  </div>
  <script src="/js/jquery-1.11.0.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/5.3.1/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://cdn.staticfile.org/Swiper/11.0.5/swiper-bundle.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/script.js"></script>
</body>

</html>