<!DOCTYPE html>
<html lang="en">

<head>
  <title>GYM - GYM Studio</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="/fonts/icomoon.css">

  <link href="https://cdn.staticfile.org/twitter-bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.staticfile.org/Swiper/11.0.5/swiper-bundle.min.css">


  <link rel="stylesheet" type="text/css" href="/css/booking.css">
</head>

<body>
<!--<th:block th:insert="~{common/footer :: .footer}"></th:block>-->

<div class="preloader-wrapper">
  <div class="preloader">
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-4">
  <div class="container-fluid">
    <div class="main-logo">
      <a href="/index">
        <img src="images/main-logo.png" alt="logo">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
         aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end align-items-center flex-grow-1 pe-3 gap-4">
          <li class="nav-item text-uppercase">
            <a href="/index" class="nav-link active">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownPages" data-bs-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Pages</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownPages">
              <li>
                <a href="/about" class="dropdown-item text-uppercase">About Us </a>
              </li>
              <li>
                <a href="/classes" class="dropdown-item text-uppercase">Class Schedule </a>
              </li>
              <li>
                <a href="/gym" class="dropdown-item text-uppercase">Gym</a>
              </li>
              <li>
                <a href="/contact" class="dropdown-item text-uppercase">Contact </a>
              </li>
            </ul>
          </li>
          <div id="username-display">
            <li class="nav-item text-uppercase" id="username-display">
              <a href="/login" class="item-anchor btn btn-outline-primary rounded-pill">Login</a>
            </li>
          </div>
          <div id="logout-area"></div>
          <li class="user-items">
            <div class="search-bar">
              <a href="#" class="search-button search-toggle" data-selector=".primary-nav">
                <i class="icon icon-search"></i>
              </a>
              <form role="search" method="get" class="search-box" action="/index">
                <input class="search-field search-input" placeholder="Search" type="search">
              </form>
            </div>

          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

     <!-- [ Main Content ] start -->


<section class="input-part">
    <div id="main_cont">
        <div id="navbar">
            <a href="/classes">All Appointments </a>
        </div>

        <div id="main_body">
          <div class="row">
            <div class="col-4 time-col">
              <div class="listContainer ">
                <h4>Book your class</h4>
                <div class="bookdropdown">
                <div class="dropdown">
                  <span class="selLabel">Select Class</span>
                  <input type="hidden" name="cd-dropdown" id="book-your-class" >
                  <ul class="dropdown-list">
                    <li data-value="1">
                      <span>Gym</span>
                    </li>
                    <li data-value="2">
                      <span>Yoga</span>
                    </li>
                    <li data-value="3">
                      <span>Dance</span>
                    </li>
                    <li data-value="4">
                      <span>Personal Trainer</span>
                    </li>
                    <li data-value="5">
                      <span>Body Pump</span>
                    </li>
                  </ul>
                </div>
              </div>
                </div>
            </div>
            <div class="col-4">
              <div><h4>Date</h4>
                <input id="inputDate" type="date" placeholder="Select the appointment date"  />
              </div>
            </div>
            <div class="col-4 time-col">
              <h4>Time</h4>

              <div class="listContainer">
  
                <div class="dropdown2">
                  <span class="selLabel2">Select Timeslot </span>
                  <input type="hidden" id="selectedTime" name="selectedTime">
                  <ul class="dropdown2-list">
                    <li data-value="1">
                      <span>9 AM to 11 AM</span>
                    </li>
                    <li data-value="2">
                      <span>11 AM to 1 PM</span>
                    </li>
                    <li data-value="3">
                      <span>1 PM to 3 PM</span>
                    </li>
                    <li data-value="4">
                      <span>3 PM to 5 PM</span>
                    </li>
                    <li data-value="5">
                      <span>5 PM to 7 PM</span>
                    </li>
                    <li data-value="6">
                      <span>7 PM to 9 PM</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <h4>Gym Room</h4>
              <div class="listContainer">
  
                <div class="dropdown3">
                  <span class="selLabel3">Select Place </span>
                  <input type="hidden" id="selectedGym" name="selectedGym">
                  <ul class="dropdown3-list">
                    <li data-value="1">
                      <span>Moko - Mongkok</span>
                    </li>
                    <li data-value="2">
                      <span>Hyson Place - Causeway Bay</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-4 friend-col">
              <h4>Other Friends</h4>
              <div class="listContainer">
  
                <div class="dropdown4">
                  <span class="selLabel4">Select Place </span>
                  <input type="hidden" id="selectedFriend" name="selectedFriend">
                  <ul id="dropdown4-list" class="dropdown4-list">
                   
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-4"></div>
          </div>
      
    
        </div>

          <br>


          <div class="row">
            <div class="col-4">
              <a href="#confirmPopUp"><button id="book_appointment" >Book A Class </button></a>
            </div>
            <!-- POP UP -->
            <aside id="confirmPopUp" class="confirmPopUp">
              <div class="confirmPopUpContainer">
                <header>
                  <a href="#!" class="closeConfirmPopUp">

                    <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg height="20px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z"/></svg>
                  </a>
                  <div class="confirmPopUpContent">Booking Successful !</div>
                </header>
                <article>
                  You may check the class schedule in your profile.
                  <br>
                  <div class="profilebutton">
                  <button class="raise"><a href="/profile">Go to Profile</a></button></div>
                </article>
              </div>
              <a href="#!" class="closeConfirmPopUpOutSide"></a>
            </aside>

            </div>
    </div>








</section>

        <!-- [ Main Content ] end -->

  <footer id="footer" class="padding-large">
    <div class="container">
      <div class="footer-content row">
        <div class="col-md-4">
          <div class="footer-menu">
            <ul class="d-flex list-unstyled justify-content-md-start justify-content-center">
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">Privacy Policy</a>
              </li>
              <li>
                <a href="#">Terms</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-logo align-center">
            <img src="images/main-logo.png" alt="logo">
          </div>
        </div>
        <div class="col-md-4">
          <div class="social-links">
            <ul class="d-flex list-unstyled justify-content-md-end justify-content-center">
              <li>
                <a href="#">
                  <i class="icon icon-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div id="footer-bottom">
    <div class="container">

    </div>
  </div>
  <script src="js/jquery-1.11.0.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/5.3.1/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://cdn.staticfile.org/Swiper/11.0.5/swiper-bundle.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>
  <script type="module" src="/js/loggedIn.js"></script>
  <script type="module" src="/js/booking.js"></script>
  <script type="module" src="/js/bookingModel.js"></script>
  <script type="module" src="/js/appointment.js"></script>
  <script type="module" src="/js/bookingRoutes.js"></script>
</body>

</html>