<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="~{common/header :: .header}">
    </th:block>
    <title>GYM - GYM Studio</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="/fonts/icomoon.css">

    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/Swiper/11.0.5/swiper-bundle.min.css">

    <!-- vendor css -->
    <link rel="stylesheet" href="/adminassets/css/adminstyle.css">
    <link rel="stylesheet" href="/adminassets/css/mapstyle.css">
    <link rel="stylesheet" type="text/css" href="/css/checkin.css">
    <link rel="stylesheet" href="/css/qrcode-scanner.css">

</head>
<body>
<!--<th:block th:insert="~{common/footer :: .footer}"></th:block>-->

<div class="preloader-wrapper">
    <div class="preloader">
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-4">
    <div class="container-fluid">
      <div class="main-logo">
        <a href="/index">
          <img src="/images/main-logo.png" alt="logo">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end align-items-center flex-grow-1 pe-3 gap-4">
            <li class="nav-item text-uppercase">
              <a href="/index" class="nav-link active">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownPages" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Pages</a>
              <ul class="dropdown-menu" aria-labelledby="dropdownPages">
                <li>
                  <a href="/about" class="dropdown-item text-uppercase">About Us </a>
                </li>
                <li>
                  <a href="/classes" class="dropdown-item text-uppercase">Class Schedule </a>
                </li>
                <li>
                  <a href="/gym" class="dropdown-item text-uppercase">Gym</a>
                </li>
                <li>
                  <a href="/contact" class="dropdown-item text-uppercase">Contact </a>
                </li>
              </ul>
            </li>
            <div id="username-display">
            <li class="nav-item text-uppercase" id="username-display">
              <a href="/login" class="item-anchor btn btn-outline-primary rounded-pill">Login</a>
            </li>
          </div>
          <div id="logout-area"></div>
            
          </ul>
        </div>
      </div>
    </div>
  </nav>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.4/html5-qrcode.min.js" integrity="sha512-k/KAe4Yff9EUdYI5/IAHlwUswqeipP+Cp5qnrsUjTPCgl51La2/JhyyjNciztD7mWNKLSXci48m7cctATKfLlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
    main {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    #reader {
    width: 600px;
    }
    #result {
    text-align: center;
    font-size: 1.5rem;
    }
</style>
<main>
    <div id="reader"></div>
    <form id="qrcode-check-in-out">
        <div id="result"></div>
    </form>
    
    
</main>
<!-- <script>
    const scanner = new Html5QrcodeScanner('reader', {
    qrbox: {
    width: 250,
    height: 250,
    },
    fps: 20,
    });
    scanner.render(success, error);
    function success(result) {
    document.getElementById('result').innerHTML = `
    <h2>Success!</h2>
    <p><a href="${result}">${result}</a></p>
    `;
    scanner.clear();
    document.getElementById('reader').remove();
    }
    function error(err) {
    console.error(err);
    }
</script> -->


<br>
<br>
<br>



<!-- <div class="container-fluid">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2"
                   for="content">
                Member ID:
            </label>
            <div class="col-sm-10">
                <input type="text" size="60"
                       maxlength="60" class="form-control"
                       id="content" placeholder="Enter content" />
            </div>
        </div>
        <br>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class=
                        "btn btn-primary px-5 py-2" id="generate">
                    Generate
                </button>
            </div>
        </div>
    </div>
</div> -->
<script src=
                "https://code.jquery.com/jquery-3.5.1.js">
</script>

<br>
<br>
<br>
<br>

<footer id="footer" class="padding-large">
    <div class="container">
        <div class="footer-content row">
            <div class="col-md-4">
                <div class="footer-menu">
                    <ul class="d-flex list-unstyled justify-content-md-start justify-content-center">
                        <li>
                            <a href="/index">Home</a>
                        </li>
                        <li>
                            <a href="/terms-and-conditions">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/terms-and-conditions">Terms</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-logo align-center">
                    <img src="/images/main-logo.png" alt="logo">
                </div>
            </div>
            <div class="col-md-4">
                <div class="social-links">
                    <ul class="d-flex list-unstyled justify-content-md-end justify-content-center">
                        <li>
                            <a href="#">
                                <i class="icon icon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon icon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon icon-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>



<!-- <script type="module" src="/js/checkin.js"></script> -->
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/5.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script src="https://cdn.staticfile.org/Swiper/11.0.5/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/plugins.js"></script>
<script src="/js/script.js"></script>
<script src="/js/qrcode-scanner.js" ></script>
<script src="/js/loggedIn.js"></script>
<script src="/js/qrcode-checkin.js"></script>
<script src="/js/qrcode-checkout.js"></script>
<!--<script type="module" src="/js/loggedIn.js"></script>-->

<!--<script src="/js/visitor.js"></script>-->
<!--<script src="/js/newCourse.js"></script>-->

</body>

</html>

