<!DOCTYPE html>
<html lang="en">

<head>
  <title>GYM - GYM Studio</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="/fonts/icomoon.css">

  <link href="https://cdn.staticfile.org/twitter-bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.staticfile.org/Swiper/11.0.5/swiper-bundle.min.css">

</head>

<body>

  <div class="preloader-wrapper">
    <div class="preloader">
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-4">
    <div class="container-fluid">
      <div class="main-logo">
        <a href="/index">
          <img src="/images/main-logo.png" alt="logo">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end align-items-center flex-grow-1 pe-3 gap-4">
            <li class="nav-item text-uppercase">
              <a href="/index" class="nav-link active">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownPages" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Pages</a>
              <ul class="dropdown-menu" aria-labelledby="dropdownPages">
                <li>
                  <a href="/about" class="dropdown-item text-uppercase">About Us </a>
                </li>
                <li>
                  <a href="/classes" class="dropdown-item text-uppercase">Class Schedule </a>
                </li>
                <li>
                  <a href="/contact" class="dropdown-item text-uppercase">Contact </a>
                </li>
              </ul>
            </li>
            <li class="nav-item text-uppercase">
              <a href="/gym" class="nav-link">Gym</a>
            </li>
            <li class="nav-item text-uppercase">
              <a href="/contact" class="nav-link">Contact</a>
            </li>
            <div id="username-display">
            <li class="nav-item text-uppercase">
              <a href="/login" class="item-anchor btn btn-outline-primary rounded-pill">Login</a>
            </li>
          </div>
          <div id="logout-area"></div>
            <li class="user-items">
              <div class="search-bar">
                <a href="#" class="search-button search-toggle" data-selector="primary-nav">
                  <i class="icon icon-search"></i>
                </a>
                <form role="search" method="get" class="search-box" action="index.html">
                  <input class="search-field search-input" placeholder="Search" type="search">
                </form>
              </div>
              <a href="#" class="shopping-cart">
                <i class="icon icon-shopping-cart"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <section id="hero-section" class="text-center jarallax mt-5 py-5">
    <img src="/images/dance-banner3.jpg" alt="dancer" class="jarallax-img">
    <div class="banner-content py-5 my-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <h1 class="text-white display-1 mt-5">Power Fitness</h1>
            <span class="text-white">如果您想加入一個有幫助的、熱情的健身房，和那些想要看到您成功的人一起，您就來對了地方。</span>
            <div class="buttons d-flex flex-wrap justify-content-center gap-3 my-4">
              <a href="/classes" class="btn btn-medium btn-primary rounded-pill">Class Schedule</a>
              <a href="/classes" class="btn btn-medium btn-dark rounded-pill">Book Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="videos">
    <div class="container-fluid">
      <div class="row">
        <div class="section-header">
          <h2 class="section-title text-center">
            <span class="text-primary">Join</span> Our Classes
          </h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="class-item" data-aos="fade" data-aos-delay="0">
              <figure>
                <img src="/images/video-item.jpg" alt="video">
                <figcaption class="p-5 text-white">
                  <h2 class="text-white m-0">Gym</h2>
                  <p class="m-0">擁有頂尖的健身器材，在全市場中最為堅固耐用， 適合不同用家徹底發揮你的運動潛能，為你達成持久高效的鍛鍊目標。</p>
                  <a href="/classes" class="btn btn-outline-light rounded-pill">Book Now</a>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="col-md-6">
            <div class="class-item" data-aos="fade" data-aos-delay="100">
              <figure>
                <img src="/images/video-item1.jpg" alt="video">
                <figcaption class="p-5 text-white">
                  <h2 class="text-white m-0">Yoga</h2>
                  <p class="m-0">場地寬敞，配合落地玻璃的開揚設計，用戶可享受戶外景觀，而引入的自然光令整體運動表現更佳，給你愉悅的運動體驗</p>
                  <a href="/classes" class="btn btn-outline-light rounded-pill">Book Now</a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="class-item" data-aos="fade" data-aos-delay="200">
              <figure>
                <img src="/images/video-item2.jpg" alt="video">
                <figcaption class="p-5 text-white">
                  <h2 class="text-white m-0">Dance</h2>
                  <p class="m-0">深層次的舞蹈技巧訓練</p>
                  <a href="/classes" class="btn btn-outline-light rounded-pill">Book Now</a>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="col-md-4">
            <div class="class-item" data-aos="fade" data-aos-delay="300">
              <figure>
                <img src="/images/video-item3.jpg" alt="video">
                <figcaption class="p-5 text-white">
                  <h2 class="text-white m-0">Personal Trainer</h2>
                  <p class="m-0">度身制訂個人健體計劃</p>
                  <a href="/classes" class="btn btn-outline-light rounded-pill">Book Now</a>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="col-md-4">
            <div class="class-item" data-aos="fade" data-aos-delay="400">
              <figure>
                <img src="/images/video-item4.jpg" alt="video">
                <figcaption class="p-5 text-white">
                  <h2 class="text-white m-0">Body Pump</h2>
                  <p class="m-0">激活沉睡的肌肉群</p>
                  <a href="/classes" class="btn btn-outline-light rounded-pill">Book Now</a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="my-2 py-2 my-lg-5 py-lg-5">
    <div class="container">
      <h2>Ongoing Classes</h2>
      <div class="table-responsive">
        <table class="table table-striped
        table-hover	
        table-borderless
        align-middle">
          <thead>
            <tr>

              <th>Class</th>
              <th>Tutor</th>
              <th>Start</th>
              <th>End</th>
              <th>Location</th>
              <th>Places</th>
              <th>Book</th>
            </tr>
          </thead>
          <tbody class="table-group-divider" id="table-group">
<!--            <tr>-->
<!--              <td><strong>Gym</strong></td>-->
<!--              <td>August 15-29</td>-->
<!--              <td>9:00 AM to 11:00 AM</td>-->
<!--              <td>16-29</td>-->
<!--              <td>$150</td>-->
<!--              <td>$150</td>-->
<!--              <td><a href="#" class="btn btn-outline-dark rounded-pill">Register</a></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td><strong>Gym</strong></td>-->
<!--              <td>August 15-29</td>-->
<!--              <td>9:00 AM to 11:00 AM</td>-->
<!--              <td>30-45</td>-->
<!--              <td>$150</td>-->
<!--              <td><a href="#" class="btn btn-outline-dark rounded-pill">Register</a></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td><strong>Dance</strong></td>-->
<!--              <td>August 15-29</td>-->
<!--              <td>9:00 AM to 11:00 AM</td>-->
<!--              <td>16-29</td>-->
<!--              <td>$150</td>-->
<!--              <td><a href="#" class="btn btn-outline-dark rounded-pill">Register</a></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td><strong>Dance</strong></td>-->
<!--              <td>August 15-29</td>-->
<!--              <td>9:00 AM to 11:00 AM</td>-->
<!--              <td>30-45</td>-->
<!--              <td>$150</td>-->
<!--              <td><a href="#" class="btn btn-outline-dark rounded-pill">Register</a></td>-->
<!--            </tr>-->

          </tbody>
          <tfoot>

          </tfoot>
        </table>
      </div>

      <div class="btn-center">
        <a href="/classes" class="btn btn-outline-primary btn-pill btn-medium">View Class Schedule</a>
      </div>

    </div>
  </section>

 
  <footer id="footer" class="padding-large">
    <div class="container">
      <div class="footer-content row">
        <div class="col-md-4">
          <div class="footer-menu">
            <ul class="d-flex list-unstyled justify-content-md-start justify-content-center">
              <li>
                <a href="/index.html">Home</a>
              </li>
              <li>
                <a href="#">Privacy Policy</a>
              </li>
              <li>
                <a href="#">Terms</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-logo align-center">
            <img src="/images/main-logo.png" alt="logo">
          </div>
        </div>
        <div class="col-md-4">
          <div class="social-links">
            <ul class="d-flex list-unstyled justify-content-md-end justify-content-center">
              <li>
                <a href="#">
                  <i class="icon icon-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="/js/jquery-1.11.0.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/5.3.1/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://cdn.staticfile.org/Swiper/11.0.5/swiper-bundle.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/script.js"></script>
  <script type="module" src="/js/auth.js"></script>
  <script type="module" src="/js/index.js"></script>
  <script type="module" src="/js/loggedIn.js"></script>
</body>

</html>